body {
  background-color: white;
  height: 100%;
  width: auto;
}

.navbar-container {
  margin-left: 90px;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
}

.list {
  margin-left: 90px;
  display: flex;
  flex-direction: row;
  font-size: bold;
}

.list-item {
  margin-left: 50px;
  display: flex;
  font-size: 20px;
  font-style: italic;
  font-weight: lighter;
  cursor: pointer;
}

.list-item:hover {
  color: rgba(206, 51, 4, 0.973);
  transition: 0.1s;
}

.list-item-active {
  display: flex;
  font-size: 20px;
  font-style: italic;
  font-weight: 900;
  cursor: pointer;
}

.list-item-active:hover {
  color: rgba(206, 51, 4, 0.973);
  transition: 0.1s;
}

.search-icon {
  margin-left: 260px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.nav-button-active {
  margin-left: 290px;
  width: 125px;
  height: 30px;
  border-radius: 10px;
  font-size: 15px;
  font-style: italic;
  margin-top: -35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.hero-container {
  margin-left: 90px;
  margin-top: 250px;
  display: flex;
  flex-direction: column;
}

.square-active {
  margin-left: 100px;
  margin-top: 10px;
}

.star-active {
  margin-left: 300px;
  margin-top: -500px;
}

.globe-active {
  margin-left: 500px;
  margin-top: -50px;
}

/* .star {
  margin-left: 400px;
} */

.hero-heading {
  margin-left: 425px;
  margin-top: -345px;
  font-size: 70px;
  font-style: oblique;
  font-weight: bold;
}

.hero-description {
  margin-left: 500px;
  margin-right: 135px;
  font-family: cursive;
  margin-top: -40px;
}

.button-email {
  margin-left: 600px;
  margin-top: 30px;
  height: 35px;
  width: 180px;
  border-radius: 10px;
  font-family: cursive;
  cursor: pointer;
}

.button-join {
  margin-left: 13px;
  height: 35px;
  width: 110px;
  background-color: black;
  color: white;
  font-family: cursive;
  border-radius: 10px;
  cursor: pointer;
}

.contact-heading {
  margin-left: 720px;
  margin-top: 25px;
  font-size: 21px;
  font-family: cursive;
}

.icons {
  margin-left: 685px;
  display: flex;
  column-gap: 20px;
  margin-top: -10px;
  cursor: pointer;
}
